<h2 mat-dialog-title>
  {{ (data ? "USERS.EDIT_USER" : "USERS.ADD_USER") | translate }}
</h2>

<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div class="form-row">
      <mat-form-field>
        <mat-label>{{ "USERS.FIRST_NAME" | translate }}</mat-label>
        <input matInput formControlName="first_name" />
        <mat-error *ngIf="userForm.get('first_name')?.hasError('required')">
          {{ "REQUIRED_FIELD" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ "USERS.LAST_NAME" | translate }}</mat-label>
        <input matInput formControlName="last_name" />
        <mat-error *ngIf="userForm.get('last_name')?.hasError('required')">
          {{ "REQUIRED_FIELD" | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field>
        <mat-label>{{ "USERS.USERNAME" | translate }}</mat-label>
        <input matInput formControlName="login" type="text" />
        <mat-error *ngIf="userForm.get('login')?.hasError('required')">
          {{ "REQUIRED_FIELD" | translate }}
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>{{ "USERS.EMAIL" | translate }}</mat-label>
        <input matInput formControlName="email" type="email" />
        <mat-error *ngIf="userForm.get('email')?.hasError('required')">
          {{ "REQUIRED_FIELD" | translate }}
        </mat-error>
        <mat-error *ngIf="userForm.get('email')?.hasError('email')">
          {{ "INVALID_EMAIL" | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row" *ngIf="!data">
      <mat-form-field>
        <mat-label>{{ "USERS.PASSWORD" | translate }}</mat-label>
        <input matInput formControlName="password" type="password" />
        <mat-error *ngIf="userForm.get('password')?.hasError('required')">
          {{ "REQUIRED_FIELD" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ "USERS.CONFIRM_PASSWORD" | translate }}</mat-label>
        <input matInput formControlName="password_confirmation" type="password" />
        <mat-error *ngIf="userForm.get('password_confirmation')?.hasError('required')">
          {{ "REQUIRED_FIELD" | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field>
        <mat-label>{{ "USERS.NATIONAL_ID" | translate }}</mat-label>
        <input matInput formControlName="cni" />
        <mat-error *ngIf="userForm.get('cni')?.hasError('required')">
          {{ "REQUIRED_FIELD" | translate }}
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ "USERS.PHONE" | translate }}</mat-label>
        <input matInput formControlName="phone" />
        <mat-error *ngIf="userForm.get('phone')?.hasError('required')">
          {{ "REQUIRED_FIELD" | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field>
        <mat-label>{{ "USERS.ADDRESS" | translate }}</mat-label>
        <input matInput formControlName="address" />
        <mat-error *ngIf="userForm.get('address')?.hasError('required')">
          {{ "REQUIRED_FIELD" | translate }}
        </mat-error>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field>
        <mat-label>{{ "USERS.COUNTRY" | translate }}</mat-label>
        <mat-select formControlName="country">
          <mat-option *ngFor="let country of countries" [value]="country">
            {{ country }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ "USERS.ACCOUNT_TYPE" | translate }}</mat-label>
        <mat-select formControlName="account_id">
          <mat-option *ngFor="let type of accountTypes" [value]="type.id">
            {{ type.code + '/ ' + type.country + '/ ' + type.label }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>
      {{ "COMMON.CANCEL" | translate }}
    </button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!userForm.valid || isLoading">
      {{ (data ? "COMMON.UPDATE" : "COMMON.SAVE") | translate }}
    </button>
  </mat-dialog-actions>
</form>

<div class="loading-overlay" *ngIf="isLoading">
  <mat-spinner diameter="30"></mat-spinner>
</div>
